.confirm-save{
    background: var(--primary);
    font-size: 1.5rem;
    padding: .3em;
    border-radius: .3em;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    position: fixed;
    bottom: 2em;
    z-index: 10;
    height: 2em;

    & * {
        border-radius: inherit;
    }

    animation: 300ms ease forwards;

    &[displayed="true"]{
        transform: translateY(200%);
        animation-name: wake-up;
    }

    &[displayed="false"]{
        transform: translateY(0);
        animation-name: sleep-down;
    }
}

#app:has(.confirm-save){
    padding-bottom: 8em;
}

[bug=true]{
    background: red;
}

.confirm-save-buttons{
    display: inline-flex;
}

@keyframes wake-up {
    100%{
        transform: translateY(0);
    }
}

@keyframes sleep-down {
    100%{
        transform: translateY(200%);
        visibility: hidden;
    }
}