#content{
    user-select: text;
    --sidebar: clamp(15rem, 20vw, 25rem);
}

#manage-server{
    margin-left: var(--sidebar);
}

h1{
    font-size: 4rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;

    & span{
        font-weight: bold;
        font-size: 1.2rem;
    }
}