.editable-image{
    height: 1.4em;
    aspect-ratio: 1;
    margin: .2em .4em;
    padding: 0;
    border-radius: .2em;
    background: var(--accent);
    position: relative;

    --padding: .22em;

    transition: 300ms ease;
    transition-property: padding, margin;

    & img, .editable-image-container{
        border-radius: inherit;
        visibility: visible;
        background: var(--primary);
        border-radius: inherit;
        height: 1.5em;
        aspect-ratio: 1;
    }

    & .editable-image-container{
        position: absolute;
    }

    &[editable=true]{
        cursor: pointer;
    }
    
    &[editable=true]:has(.editable-image-container:hover){
        padding: var(--padding);
        margin: calc(.2em - var(--padding)) calc(.4em - var(--padding));

        & .editable-image-pen{
            visibility: visible;
            opacity: 1;
        }
    }
}

.editable-image-pen{
    position: absolute;
    z-index: 5;
    height: 30%;
    top: .22em;
    right: .27em;
    color: var(--accent);
    visibility: hidden;
    opacity: 0;
    transition-property: opacity;
    transition: inherit;
    pointer-events: none;
}

.editable-image-reload{
    animation: loading infinite 1.5s forwards;
}

@keyframes loading{
    5% {transform: rotate(0deg);}
    95% {transform: rotate(0deg);}
    95% {transform: rotate(360deg);}
    100% {transform: rotate(360deg);}
}