.loader{
    background: var(--primary);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
    transition: all 300ms ease;
    width: 14em;
    margin: 1em 2em;
    user-select: none;

    & img{
        height: 10em;
    }

    & * {
        margin: .2em;
    }

    & p {
        opacity: .5;
    }

    &:hover, &.selected{
        box-shadow: 0 0 24px 4px var(--primary);
        transform: scale(1.1);
    }
}

#loader:has(.selected){
    & .loader:not(.selected){
        opacity: .5;
    }
}

#loader-forge{
    & img{
        filter: invert(62%) sepia(57%) saturate(3360%) hue-rotate(329deg) brightness(105%) contrast(101%);
    }
}

.input-box{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em;
    font-size: 1.3em;

    & > input{
        margin-left: .5em;
    }
}